.box {
  width: 300px;
  height: 300px;
  margin: 1em;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: rgb(250, 6, 6);
}

.box:hover {
  background-color: rgb(47, 0, 255);
}

.animate {
  transition: background-color 5s;
}
